.result {
  margin: 24px 0;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 4px 8px 4px #00000016;
  border-radius: 8px;
}

.title {
  font-weight: 600;
}

.snippet {
  font-weight: 100;
  margin-top: 8px;
}

.snippet :global(.searchmatch) {
  font-weight: 400;
  color: #f95478;
}
