.inputsWrapper {
  padding: 16px 32px;
  border-radius: 32px;
  background-color: #3266cb;
  box-shadow: 0 4px 8px 4px #00000016;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.row {
  margin: 16px 0;
  position: relative;
}

.buttonWrapper {
  position: absolute;
  top: 8px;
  right: 8px;
}

@media (max-width: 500px) {
  .buttonWrapper {
    position: relative;
    top: unset;
    right: unset;
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
  }
}